:root {
    --bg-color-0: #080808;
    --bg-color-1: #0E1012;
    --bg-color-2: #222528;
    --bg-color-3: #8F9091;
    --bg-color-4: #FFFFFF;
    --bg-color-5: #3A3E40;

    --text-color-1: #000000;
    --text-color-2: #202020;
    --text-color-3: #606060;
    --text-color-4: #B0B0B0;
    --text-color-5: #FFFFFF;
    --text-color-6: #E0E0E0;
}
